

.is-multiple .is-selected {
    color: #20a0ff;
}

.is-multiple .el-icon-check {
    float: right;
    padding-left: 10px;
    line-height: 22px;
}

.is-multiple .is-selected.is-active{
    color: #fff;
}
